.hamburger:hover > div:nth-child(1){
  background-color: ghostwhite;
  transform: rotate(-50deg);
  animation-name: top;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(2){
  animation-name: middle;
  animation-duration: .1s;
  opacity: 0;
  transition-duration: 2s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(3){
  background-color: ghostwhite;
  transform: rotate(50deg);
  animation-name: bottom;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}



nav {
  opacity: 0;
  transition-duration: 1s;
}

.hamburger:hover ~ nav {
  opacity: 1;
}

@keyframes top {
  from {translate:-16px}
  to {translate: 16px}

  from {transiton:bottom}
  to {transiton: middle}
}

@keyframes middle {
  from {}
  to {}
}

@keyframes bottom {
  from {translate:16px}
  to {translate:-16px}
}
